<mat-expansion-panel [expanded]="studentPaymentService.panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 style="padding-top: 15px;">Payment From Student</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Payment ID</mat-label>
          <input matInput placeholder="Payment id" type="text" [(ngModel)]="studentPaymentService.currentStudentpayment.spId"
            disabled>
        </mat-form-field>
      </div>

      <div class="col-md-8">
        <mat-form-field>
            <mat-label>Student Information</mat-label>
            <mat-select [(ngModel)]="studentPaymentService.currentStudentpayment.students" >
              <mat-option *ngFor="let allStu of allStudents" [value]="allStu" >
                ID: {{allStu.student_id}}, Name: {{allStu.student_name}}, Class: {{allStu.running_class}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Write payment amount" type="text"
            [(ngModel)]="studentPaymentService.currentStudentpayment.amount">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Payment Date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="studentPaymentService.currentStudentpayment.paymentDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  
    <button class="btn btn-success" (click)="createOrUpdateStudentpayment(studentPaymentService.currentStudentpayment)"> <i
        class="fa fa-save"></i>
      Save/Update</button>
    <button class="btn btn-primary" (click)="clear();"> <i class="fa fa-retweet"></i> Clear</button>
  
  </mat-expansion-panel>
