table {
    width: 100%;
  }
  
  td, th {
    width: auto;
  }

  th{
    font-size: 16px;
    background-color: rgb(236, 238, 241);
  }

.mat-raised-button{
  margin-right: 5px;
}

.fa{
  margin-right: 5px;
}
mat-card{
  margin-top: 5px;
}