<div class="row" style="text-align: center; background-color:skyblue; padding: 20px; color: white;">
    <div class="col-md-12" >
        <h1> <b> Available Coaching Fund </b> </h1>
    </div>
    
</div>
<div class="row" style="text-align: center; padding: 20px;">
    <div class="col-md-6">
        <h1>Income from students: {{totalStudentPayment}} TK</h1>
    </div>
    <div class="col-md-6">
        <h1>Expense to teachers: {{totalTeacherPayment}} TK</h1>
    </div>
</div>
<div class="row" style="text-align: center; padding: 20px;">
    <div class="col-md-12">
        <h1>Available Balance: {{totalStudentPayment - totalTeacherPayment}} TK</h1>
    </div>
</div>
