.btn {
    margin-right: 20px;
}
.btn-success{
    width: 200px;
}
.btn-primary{
    width: 150px;
}
mat-form-field {
    margin-right: 20px;
    width: 100%;
}
mat-expansion-panel{
    background-color: rgb(240, 246, 250);
}